# Folders
node_modules/
build/
dist/
docs/
.vscode/

# Files
*.yaml

# NPM Packages
package-lock.json
yarn.lock
pnpm-lock.yaml

# Eslint
eslint*
.eslint*

# Lint-staged
lintstaged*
.lintstaged*

# Commit Lint
commitlint*
.commitlint*